<!DOCTYPE html>
<html>
  <head>
    <title>TrbWorkshop</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= concept 'home/cell/header' %>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <!-- maybe footer cell -->
    </footer>
  </body>
</html>
